{:deps {:aliases [:cljs]}
 :builds
 {:node-tests
  {:target    :node-test
   :output-to "out/node-tests.js"
   :compiler-options {:infer-externs true}}

  :ci
  {:target    :node-test
   :output-to "out/ci-tests.js"
   :compiler-options {:infer-externs true}}

  :npm
  {:target    :node-library
   :output-to "dist/superficie.js"
   :exports   {:renderString  superficie.api/renderString
               :parseString   superficie.api/parseString
               :toSup         superficie.api/toSup
               :toClj         superficie.api/toClj
               :supToForms    superficie.api/supToForms}
   :compiler-options {:infer-externs true
                      :optimizations :advanced}}

  :browser
  {:target    :browser
   :output-dir "dist/browser"
   :modules   {:superficie {:entries [superficie.browser]}}
   :compiler-options {:infer-externs true
                      :optimizations :advanced}}

  :browser-repl
  {:target    :browser
   :output-dir "dist/browser-repl"
   :modules   {:superficie-repl {:entries [superficie.sci-repl]}}
   :compiler-options {:infer-externs true
                      :optimizations :advanced}}}}
